// Hire page styles

.hire {
	.intro-image {
		float: right;
		margin: 0 0 25px 25px;
	}

	.product-image {
		float: left;
		margin-right: 25px;

		img {
			border: 2px solid @GoWildRed;
		}

		figcaption {
			margin-top: 5px;
		}
	}

	.product {
		border-top: 1px solid #000;
		margin: 30px 0;

		ul {
			margin-left: 262px;
		}
	}

	.flavours {
		font-size: 0;
		border-top: 1px solid #000;
		overflow: hidden;
		padding-top: 20px;

		&.cocktails {
			border: none;
			padding-top: 0;
		}

		> .closed {
			.drop-down;
		}

		> .open {
			max-height: 2500px;
			transition: max-height 0.3s ease-in;
		}

		> div {
			font-size: 16px;
		}

		h3 {
			cursor: pointer;
		}

		.list {
			&:nth-child(odd) {
				padding-right: 10px;
			}

			&:nth-child(even) {
				padding-left: 10px;
			}
		}

		ul {
			list-style-type: none;
			padding-left: 0;

			li {
				margin-bottom: 8px;
			}
		}
	}
}

@media only screen and (max-width: @screen-md-max) {
	.hire {
		.content {
			padding: 2% 2% 0;
		}
	}
}

@media only screen and (max-width: @screen-sm-max) {
	.hire {
		.intro {
			.intro-image {
				display: none;
			}
		}

		.product {
			h3 {
				text-align: center;
			}

			figure {
				float: none;
				display: block;
				margin: 0 0 25px;
				text-align: center;
			}

			ul {
				margin-left: 0;
    			padding-left: 20px;
			}
		}

		.flavours {
			&.cocktails {
				.span6 {
					width: 100%;
				}

				.list {
					&:nth-child(odd), &:nth-child(even) {
						padding: 0;
					}
				}
			}
		}
	}
}