<div class="hire">
	<div class="content" ng-class="page">

		<div class="intro clear">
			<h2>{{intro.title}}</h2>
			<img src="{{intro.image.src}}" alt="{{intro.image.alt}}" class="intro-image" >
			<p ng-repeat="line in intro.copy">{{line}}</p>
		</div>

		<product-grid ng-if="page === 'castles'"></product-grid>

		<product-list ng-if="page === 'slushie' || page === 'popcorn'"></product-list>
		<gowild-flavours ng-if="page === 'slushie'"></gowild-flavours>

  </div>
</div>