<div class="four-oh-four">
  <div class="content">
    <div class="message404">
      <p>Sorry, the page you are looking for doesnt seem to exist.</p>
      <p class="error">404 Not Found</p>
      <p>Unless you were looking for this error page...</p>
      <p>In which case, congrats! You totally found it.</p>
    </div>
  </div>
</div>
