// 404 page styles

.four-oh-four {
  .message404 {
    text-align: center;
    padding-top: 40px;
    font-size: 24px;

    .error {
      font-size: 16px;
      margin: 20px 0 35px;
      background-color: @GoWildRed;
      color: #fff;
      display: inline-block;
      padding: 2px 15px;
    }
  }
}

@media only screen and (max-width: @screen-sm-max) {
  .four-oh-four {
    padding: 0 10%;

    .message404 {
    padding-top: 25px;
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .four-oh-four {
    padding: 0 8%;
  }
}

@media only screen and (max-width: @screen-xs-max) {
  .four-oh-four {
    padding: 0 5%;

    .message404 {
    padding-top: 25px;
      font-size: 18px;
    }
  }
}