<div class="product-list">
  <div class="product clear" ng-repeat="product in products">
      <h3>{{product.title}}</h3>
      <figure class="product-image">
        <img src="{{product.image.src}}" alt="{{product.image.alt}}" >
        <figcaption>{{product.image.alt}}</figcaption>
      </figure>
      <p ng-repeat="line in product.copy">{{line}}</p>
      <ul>
        <li ng-repeat="item in product.includes">{{item}}</li>
      </ul>
      <book-now></book-now>
    </div>
</div>