.book-now {
  background-color: @GoWildRed;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 7px 40px;
  margin: 20px 0;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:before {
    font-family: FontAwesome;
    content:"\f003";
    position: absolute;
    left: -30px;
    transition: all 200ms ease;
  }

  &:hover:before {
    left: 10px;
  }
}