.castles {
  h3{
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .grid-container {
    margin-top: 40px;
  }

  .grid-product {
    display: inline-block;
    margin: 0 5% 5% 0;
    width: 30%;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    a {
      cursor: pointer;
    }

    img {
      border: 2px solid @GoWildRed;
    }
  }
}

@media only screen and (max-width: @screen-sm-max) {
  .castles {
    .grid-product {
      margin: 0;
      width: auto;
    }

    .grid-container {
      text-align: center;
    }
  }
}
