<div class="grid-container">
  <div class="grid-product" ng-repeat="product in products">
    <a ng-click="productRoute(product)">
      <img ng-src="{{product.thumbnail.src}}" alt="{{product.thumbnail.alt}}">
    </a>
    <a ng-click="productRoute(product)">
      <h3>{{product.title}}</h3>
    </a>
  </div>
</div>