// Header styling

header {
  background-color: @GoWildRed;
  color: #fff;
  height: 130px;
  box-shadow: @shadow;
  position: relative;
  z-index: 2;
  nav {
    height: 130px;
    position: relative;
  }

  .logo {
    display: none;

    h1 {
      display: inline-block;
      background: transparent url("/images/GoWild.png") no-repeat scroll 0% 0%;
      text-indent: -3333px;
      width: 215px;
      height: 200px;
      margin: 0;
      line-height: inherit;
      font-size: 30px;
    }
  }

  ul {
    height: 130px;
    max-width: 775px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    line-height: 130px;
    font-size: 0;
    li {
      display: inline-block;
      text-align: center;
      width: 140px;
      height: 100%;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        &:active, &:visited, &:link {
          color: #fff;
          text-decoration: none;
        }
      }

      &.mobile-menu-close {
        display: none;
      }

      &.logo {
        width: 215px;
        display: inline-block;

        a {
          display: block;
        }
      }
      a, span {
        font-size: 30px;
        cursor: pointer;
        &.hire {
          cursor: auto;
        }
      }
      .dd-menu {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 129px;
        background-color: #fff;
        box-shadow: @shadow;
        li {
          display: block;
          width: 110px;
          height: 40px;
          line-height: 40px;
          border-top: 1px solid @GoWildRed;
          margin: 0 15px;
          a {
            font-size: 16px;
            color: @GoWildRed;
          }
        }
      }
      &.menu-item:hover {
        background-color: #fff;
        a, span {
          color: @GoWildRed;
        }
        .dd-menu {
          max-height: 500px;
          transition: max-height 0.2s ease-in;
        }
      }
    }
  }

  .facebook, .mobile-menu {
    position: absolute;
    font-size: 38px;
    color: #fff;
  }

  .facebook {
    right: 50px;
    top: 38px
  }

  .mobile-menu {
    top: 32px;
    left: 49px;
    display: none;
  }
}

@media only screen and (max-width: @screen-md-max) {
  header {
    .mobile-menu {
      display: block;
    }

    .logo {
      display: block;
      text-align: center;
      height: 130px;

      h1 {
        position: relative;
        z-index: 1;
      }
    }

    ul {
      background-color: @GoWildRed;
      height: auto;
      opacity: 0.85;
      margin: 0;
      width: 50%;
      display: none;

      &.active {
        display: block;
      }

      li {
        display: block;
        line-height: 80px;
        width: 100%;
        border-bottom: 1px solid #fff;
        text-align: left;
        padding-left: 50px;

        &.logo {
          display: none;
        }

        a, span {
          display: block;
        }

        &:last-of-type {
          border: none;
        }
      }
    }
  }
}

@media only screen and (max-width: @screen-sm-max) {
  header {
    height: 120px;
    nav {
      height: 120px;
    }

    .logo {
      height: 120px;
      h1 {
        z-index: 0;
        width: 170px;
        height: 170px;
        background-size: contain;
      }
    }

    ul {
      opacity: 1;
      box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.39);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 0%;
      z-index: 1;

      &.active {
        width: 80%;
      }

      li {
        height: auto;

        &.mobile-menu-close {
          display: block;
          border: none;
          color: #fff;
          font-size: 38px;
          height: 120px;
          line-height: 120px;
        }

        .dd-menu {
          display: block;
          position: static;
          background-color: @GoWildRed;
          box-shadow: none;
          width: 100%;
          max-height: 0;

          &.show-submenu {
            max-height: 150px;
            height: auto;
          }

          li {
            border-color: #fff;
            border-bottom: none;
            margin: 0;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;

            a {
              color: #fff;
              font-size: 18px;
              letter-spacing: 0.8px;
            }
          }
        }
      }

      li.menu-item:hover {
        background-color: @GoWildRed;

        .dd-menu {
          max-height: 0;

          &.show-submenu {
            max-height: 150px;
          }
        }

        span, a {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: @screen-xs-max) {
  header {
    height: 100px;

    nav {
      height: 100px;
    }

    .logo {
      height: 100px;

      h1 {
        width: 150px;
        height: 150px;
      }
    }

    .mobile-menu, .facebook {
      top: 23px;
    }

    .mobile-menu {
      left: 30px;
    }

    .facebook {
      right: 30px;
    }

    ul {
      li {
        padding-left: 30px;
        line-height: 70px;

        a, span {
          font-size: 26px;
        }

        &.mobile-menu-close {
          line-height: 100px;
          height: 100px;
        }
      }
    }
  }
}
