<header>
	<nav class="container">
		<div class="mobile-menu" ng-click="showMenu = !showMenu"><i class="fa fa-bars" aria-hidden="true"></i></div>
		<div class="logo">
			<h1 class="no-margin">
		    	<span>GoWild Brisbane Jumping Castle Party Hire</span>
			</h1>
		</div>
		<ul class="unordered-list" ng-class="{'active': showMenu}">
			<li class="mobile-menu-close">
				<i class="fa fa-bars" ng-click="showMenu = false"></i>
			</li>
			<li class="menu-item"><a ui-sref="home" ng-click="showMenu = false">Home</a></li>
			<li class="menu-item"><a ui-sref="about" ng-click="showMenu = false">About</a></li>
			<li class="logo">
				<h1 class="no-margin">
			    	<span>GoWild Brisbane Jumping Castle Party Hire</span>
				</h1>
			</li>
			<li class="menu-item hire" ng-click="showSubMenu = !showSubMenu">
				<span class="hire">Hire</span>
				<ul class="dd-menu" ng-class="{'show-submenu': showSubMenu}">
					<li><a ui-sref="castles" ng-click="showMenu = false">Castles</a></li>
					<li><a ui-sref="slushie" ng-click="showMenu = false">Slushies</a></li>
					<li><a ui-sref="popcorn" ng-click="showMenu = false">Floss/Popcorn</a></li>
				</ul>
			</li>
			<li class="menu-item" ng-click="showMenu = false"><a ui-sref="contact">Contact</a></li>
		</ul>
		<a href="https://www.facebook.com/gowildcastles/?fref=ts" title="GoWild facebook page" target="_blank" class="facebook" ng-click="trackFb()"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	</nav>
</header>