<div id="contact-button">
	<div class="contact-button" ng-click="contactRequest()">
		Contact Us
	</div>

	<div class="contact-modal-container">
		<div class="contact-modal hide">
			<span class="close" ng-click="closeContact()"><i class="fa fa-times"></i></span>
			<p>0433 222 111</p>
			<span>or</span>
			<a ui-sref="contact">Email us</a>
		</div>
	</div>
</div>