// Contact page styling

.contact {

  #contactForm {
    h3 {
      margin-bottom: 8px;
      font-weight: bold;
      /*text-align: center;*/
    }

    .heading {
      font-weight: bold;
      /*text-align: center;*/
    }

    .field {
      position: relative;
      padding-bottom: 20px;
      margin: 5px 0;

      .error-message {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 12px;
        color: @GoWildRed;
      }
    }

    label {
      display: block;
      font-weight: normal;
      font-size: 14px;
    }

    input, textarea {
      width: 80%;
      padding: 2px 5px;
      border: 1px solid #a8a8a8;

      &.error {
        border-color: @GoWildRed;
        box-shadow: inset 0px 0px 5px 1px @GoWildRed;
      }
    }

    button {
      padding: 8px 35px;
      margin-top: 8px;
      color: #fff;
      background-color: @GoWildRed;
      border: none;

      &:hover {
        background-color: #ee4452
      }
    }
  }

  #email-sent {
    background-color: @GoWildRed;
    box-shadow: @shadow;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    opacity: 0.9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all linear 200ms;

    &.ng-hide {
      opacity: 0;
      display: flex !important;
    }

    &.ng-hide-remove, &.ng-hide-add {
      display: flex !important;
    }

    p {
      color: #fff;
      font-size: 22px;
      margin: 0 0 20px;
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #fff;
      opacity: 0.8;
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: @screen-md-max) {
  .contact {
    .content {
      padding-top: 10px;
    }

    section {
      display: block;
      margin: 0 auto;

      &:last-of-type {
        display: none;
      }

      h3, p {
        text-align: center;
      }
    }

    #contactForm {
      input, textarea {
        width: 100%;
        padding: 5px 5px;
      }
    }
  }
}

@media only screen and (max-width: @screen-sm-max) {
  .contact {
    #email-sent {
      width: 300px;
      height: 250px;
      margin-left: -150px;
      padding: 40px 20px 20px;
    }

    section {
      width: 70%;
    }

    #contactForm {
      button {
        display: block;
        margin: 8px auto 0;
      }
    }
  }
}

@media only screen and (max-width: @screen-xs-max) {
  .contact {
    section {
      width: 80%;
    }
  }
}
