<div class="contact">
  <div class="content">

    <section class="span6">
      <form id="contactForm" name="contactForm" ng-submit="submitForm(); validateForm(contactForm);" novalidate validation>
        <h3>Have a quesion?</h3>
        <p class="heading">Get in touch!</p>
        <div class="field">
          <label for="firstName">First Name</label>
          <input type="text"
                 name="firstName"
                 ng-model="model.firstName"
                 placeholder="First name"
                 ng-blur="validateField(contactForm.firstName)"
                 ng-focus="fieldFocus(contactForm.firstName)"
                 ng-class="{'error': firstNameError}"
                 required />
          <span class="error-message"></span>
        </div>
        <div class="field">
          <label for="lastName">Last Name</label>
          <input type="text"
                 name="lastName"
                 ng-model="model.lastName"
                 placeholder="Last name"
                 ng-blur="validateField(contactForm.lastName)"
                 ng-focus="fieldFocus(contactForm.lastName)"
                 ng-class="{'error': lastNameError}"
                 required />
          <span class="error-message"></span>
        </div>
        <div class="field">
          <label for="phone">Phone number</label>
          <input type="tel"
                 name="phone"
                 ng-model="model.phone"
                 placeholder="Phone number"
                 ng-pattern="numbersOnlyPattern"
                 ng-minlength="8"
                 ng-maxlength="12"
                 ng-blur="validateField(contactForm.phone)"
                 ng-focus="fieldFocus(contactForm.phone)"
                 ng-class="{'error': phoneError}"
                 required />
          <span class="error-message"></span>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email"
                 name="email"
                 ng-model="model.email"
                 placeholder="youremail@yourdomain.com"
                 ng-pattern="emailPattern"
                 ng-blur="validateField(contactForm.email)"
                 ng-focus="fieldFocus(contactForm.email)"
                 ng-class="{'error': emailError}"
                 required />
          <span class="error-message"></span>
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message"
                    rows="5"
                    ng-model="model.message"
                    placeholder="Enter your message here"
                    ng-minlength = 50;
                    ng-blur="validateMessage(contactForm.message)"
                    ng-focus="fieldFocus(contactForm.message)"
                    ng-class="{'error': messageError}"
                    required></textarea>
          <span class="error-message"></span>
        </div>
        <button type="submit" ng-disabled="sending">Send</button>
      </form>
    </section>

    <section class="span6"></section>

    <div id="email-sent" ng-show="confirmSent">
      <i class="fa fa-times close" aria-hidden="true" ng-click="closeSentConfirm()"></i>
      <p>
        Thanks for getting in touch {{firstName}}!
      </p>
      <p>
        We'll get back to you as soon as possible.
      </p>
    </div>
  </div>
</div>
