<div class="home">
	<div id="hero">
		<h2>GoWild Party Hire</h2>
		<p>Let's get this party started</p>
		<contact-button></contact-button>
	</div>

	<div class="content">
		<div class="featured-add" ng-click="trackClick('featured-add')"></div>
		<div class="flip-container">
			<div class="fliper">
				<div class="front">
					<div class="feature-small feature1">
						<h3>Jumping Castles</h3>
					</div>
				</div>
				<div class="back" ng-click="go('castles', 'tile-one')">
					<p>We have plenty of different themes to choose from. All our castles have slides for extra fun!</p>
					<p>Check out our <span>hire page</span> to see the full range of castles with plenty of detailed photo’s.</p>
				</div>
			</div>
		</div>
		<div class="flip-container">
			<div class="fliper">
				<div class="front">
					<div class="feature-small feature2">
						<h3>Slushies</h3>
					</div>
				</div>
				<div class="back" ng-click="go('slushie', 'tile-two')">
					<p>Prefect for parties all year round. What child doesn’t want a slushie as soon as they see them! Adults we wouldn’t forget you, with plenty of cocktail flavors as well.</p>
					<p>The choices of flavours go on and on. Check out our <span>hire page</span> to see the full range of flavours and prices.</p>
				</div>
			</div>
		</div>
		<div class="flip-container">
			<div class="fliper">
				<div class="front">
					<div class="feature-small feature3">
						<h3>Fairy Floss &amp;<br />Popcorn Hire</h3>
					</div>
				</div>
				<div class="back" ng-click="go('popcorn', 'tile-three')">
					<p>Worried about not having enough seating for everyone or need more tables for food? We've got you covered!</p>
					<p>Check out our <span>hire page</span> to see the full range and pricing.</p>
				</div>
			</div>
		</div>
		<div class="flip-container">
			<div class="fliper">
				<div class="front">
					<div class="feature-small feature4">
						<h3>Other Hires</h3>
					</div>
				</div>
				<div class="back" ng-click="go('hire', 'tile-four')">
					<p><span>Look here</span> to see all our other products. Ranging from fun (eg. bubble machines etc) to practical. (eg. shade covers etc)</p>
					<p>What ever you need, GoWild has you covered.</p>
				</div>
			</div>
		</div>
		<div class="feature-large feature5" ng-click="trackClick('bottom-banner')"></div>
	</div>
</div>
