// Homepage styles

.home {
  font-size: 0;

  #hero {
    background: url('/images/Go-Wild-Hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    font-family: helvetica-lightregular;
    height: 550px;
    padding-top: 70px;

    h2 {
      font-size: 80px;
      font-weight: normal;
      margin: 0 0 10px 0;
    }

    p {
      font-size: 30px;
      margin: 0;
    }

    #contact-button {
      .contact-button {
        display: inline-block;
        border: @whiteBorder;
        font-size: 30px;
        padding: 15px 75px;
        margin-top: 80px;
        cursor: pointer;
      }

      .contact-modal {
        position: relative;
        display: inline-block;
        font-size: 30px;
        padding: 30px 75px;
        background-color: @tranparentWhite;
        border: 2px solid @GoWildRed;
        color: @GoWildRed;
        box-shadow: @shadow;
        p, a {
          font-weight: bold;
          margin: 10px 0;
          font-size: 40px;
          text-decoration: none;
          color: @GoWildRed;
          display: block;
          padding: 10px 20px;
          border: 2px solid;
          background-color: #ffffff;
        }
        span.close {
          position: absolute;
          right: 7px;
          top: 7px;
          font-size: 18px;
          opacity: 0.8;
          cursor:pointer;
        }
      }
      .contact-button.hide, .contact-modal.hide {
        display: none;
      }
    }
  }

  .featured-add {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: @redBorder;
    box-sizing: border-box;
  }

  .flip-container {
    width: 42.5%;
    height: 267px;
    margin: 5% 0 0 5%;
    box-sizing: border-box;
    perspective: 1000;
    display: inline-block;
    &:hover {
      .fliper {
        transform: rotateY(180deg);
      }
    }

    .fliper {
      transition: 0.4s;
      transform-style: preserve-3d;
      position: relative;
    }

    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
      display: table;
      .feature-small {
        width: 100%;
        height: 267px;
        border: @redBorder;
        box-sizing: border-box;
        background-repeat: no-repeat;
        display: table-cell;
        vertical-align: middle;

        &.feature1 {
          background-image: url('/images/feature1v2.jpg');
        }
        &.feature2 {
          background-image: url('/images/feature2v2.jpg');
        }
        &.feature3 {
          background-image: url('/images/feature3v2.jpg');
        }
        &.feature4 {
          background-image: url('/images/feature4v2.jpg');
        }
      }
    }

    .back {
      transform: rotateY(180deg);
      background-color: #ffffd5;
      border: 2px solid @GoWildRed;
      box-sizing: border-box;
      width: 100%;
      height: 267px;
      font-size: 20px;
      padding: 20px;
      text-align: center;
      cursor: pointer;

      span {
        color: #337ab7;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .featured-add {
    background-image: url('/images/Special-test-2.jpg');
  }

  .feature-small, .feature-large {
    text-align: center;

    h3 {
      font-family: helvetica-lightregular;
      font-size: 38px;
      color: #fff;
      letter-spacing: 1px;
      line-height: 50px;
    }
  }

  .feature-large {
    width: 90%;
    margin: 5% 5% 0 5%;
    border: @redBorder;
    height: 200px;
    position: relative;

    span {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -15px;
      display: inline-block;
      line-height: 30px;
      width: 100%;
    }

    &.feature5 {
      background: url('/images/banner-test-2.jpg') no-repeat;
    }
  }
}

// iPhone Portrait
@media only screen and (max-width: @screen-md-max) and (min-height: @screen-lg-max) {
  .home {
    #hero {
      height: 550px;
    }

    .feature-small {
      font-size: 36px;
    }
  }
}

// Large Phone
@media only screen and (max-width: @screen-md-max) {
  .home {
    #hero {
      height: 500px;
      padding: 65px 20px 0;
      position: relative;

      h2 {
        font-size: 65px;
      }

      p {
        font-size: 26px;
      }

      #contact-button {
        .contact-modal-container {
          position: absolute;
          left: 0;
          bottom: 40px;
          width: 100%;
          text-align: center;
        }

        .contact-modal {
          padding: 60px;
          font-size: 20px;

          p, a {
            font-size: 26px;
          }
        }
      }
    }

    .flip-container {
      display: block;
      width: 80%;
      margin: 5% auto 0;
      height: 160px;

      .front .feature-small {
        height: 160px;

        h3 {
          font-size: 30px;
        }
      }

      .back {
        height: 160px;
        font-size: 16px;
      }
    }

    .featured-add {
      margin-bottom: 40px;
    }

    .feature-large {
      margin-top: 40px;
    }
  }

  footer {
    font-size: 20px;
  }
}

@media only screen and (max-width: @screen-sm-max) {
  .home {
    #hero {
      height: 480px;

      h2 {
        font-size: 54px;
      }

      p {
        font-size: 24px;
      }

      #contact-button {
        .contact-button {
          padding: 15px 60px;
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width: @screen-xs-max) {
  .home {
    #hero {
      height: 400px;

      h2 {
        font-size: 44px;
      }

      p {
        font-size: 22px;
      }

      #contact-button {
        .contact-button {
          padding: 15px 30px;
          margin-top: 50px;
        }

        .contact-modal {
          padding: 40px;

          p, a {
            font-size: 24px;
          }
        }
      }
    }
  }
}
