<div>
  <div class="content single-castle">
    <h2>{{product.title}} Jumping Castle</h2>
    <div class="intro">
      <div class="intro-pic">
        <img src="{{product.image.src}}" alt="{{product.image.alt}}" class="intro-image">
      </div>
      <div class="key-info">
        <ul>
          <li ng-bind-html="product.copy.keyInfo[0]"></li>
          <li ng-bind-html="product.copy.keyInfo[1]"></li>
          <li clickable content="product.copy.keyInfo[2]"></span></li>
        </ul>
        <book-now></book-now>
      </div>
    </div>
    <div>
      <p clickable ng-repeat="para in product.copy.body" ng-bind-html="$parent.trust(para)"></p>
    </div>
    <div class="gallery">
      <img src="{{image.url}}" alt="{{image.alt}}" ng-repeat="image in product.gallery">
    </div>
    <div class="packages" ng-show="showPackages">
      <i class="fa fa-times icon" aria-hidden="true" ng-click="togglePackages()"></i>
      <div class="package-container">
        <div class="single-package" ng-repeat="package in product.packages | limitTo:2">
          <h3>{{product.title}} and a <span>{{package.others[0]}}</span></h3>
          <p class="price">only {{package.price}}</p>
        </div>
        <book-now></book-now>
        <p>Or <a ui-sref="contact">contact us</a> to discuss many other possible packages</p>
      </div>
    </div>
  </div>
</div>
