// single castle template

.single-castle {
  .intro {
    margin: 30px 0 60px;
    display: flex;
  }

  .intro-pic, .key-info {
    display: inline-block;
  }

  .package {
    color: @GoWildRed;
    cursor: pointer;
  }

  .key-info {
    margin-left: 50px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      font-size: 28px;
      font-weight: bold;
      margin: 10px 0;

      &:first-of-type {
        font-size: 32px;
      }
    }
  }

  .packages {
    position: fixed;
    top: 25%;
    left: 35%;
    width: 30%;
    background: #fff;
    border: 2px solid @GoWildRed;
    box-shadow: @shadow;

    .icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .package-container {
    text-align: center;
    margin: 50px 0;

    h3 span {
      font-weight: bold;
      background-color: #e9ff32;
    }

    .price {
      font-size: 32px;
      font-weight: bold;
      color: @GoWildRed;
    }
  }

  .single-package {
    margin: 20px 0;

    h3 {
      margin-bottom: 10px;
    }
  }

  .gallery {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    img {
      border: 2px solid @GoWildRed;
    }
  }
}

@media only screen and (max-width: @screen-sm-max) {

  .single-castle {
    &.content {
      padding: 0 2%;
    }

    .intro {
      display: block;
      margin: 0 0 30px;
    }

    .intro-pic {
      text-align: center;
      margin-bottom: 30px;
    }

    .intro-image {
      max-width: 95%;
    }

    .key-info {
      margin: 0;
    }

    .packages {
      width: 80%;
      left: 10%;
      top: 15%;
      z-index: 10;
    }

    .gallery {
      display: block;
      text-align: center;

      img {
        margin: 10px 0;
      }
    }
  }
}
