// Shared styling

body, html {
	height: 100%;
	font-size: 16px;
	position: relative;
}

content>div {
	animation: fadein 0.3s;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 35px 0 25px;
	margin: 0;
}

h3 {
	margin-bottom: 20px;
}

h4 {
	font-size: 22px;
}

.content {
	width: 1000px;
	margin: 50px auto 0;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 210px;
}

.clear {
	overflow: hidden;
}

.span6 {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.container {
	width: 100%;
	max-width: 1100px;
	padding-left: 20px;
	padding-right: 20px;
}

.inline-block-container {
	font-size: 0;
}

.bold {
	font-weight: bold;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: @screen-lg-max) {
	.content {
		width: 100%;
	}
}

@media only screen and (max-width: @screen-md-max) {
	h2 {
		padding-top: 0;
	}

	.container {
		padding: 0;
	}
}
