// Fonts

@font-face {
    font-family: 'helvetica-lightregular';
    src: url('/fonts/helvetica_light-webfont.eot');
    src: url('/fonts/helvetica_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/helvetica_light-webfont.woff2') format('woff2'),
         url('/fonts/helvetica_light-webfont.woff') format('woff'),
         url('/fonts/helvetica_light-webfont.ttf') format('truetype'),
         url('/fonts/helvetica_light-webfont.svg#helvetica-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}