
// Colours
@GoWildRed: #ec3042;
@whiteBorder: 2px solid #ffffff;
@redBorder: 2px solid @GoWildRed;
@tranparentWhite: rgba(255, 255, 255, .75);
@shadow: 8px 8px 20px 5px rgba(0, 0, 0, .39);

// Effects
@shadow: 0 8px 20px 0 rgba(0, 0, 0, .39);

// Fonts
@mainfont: Helvetica, Arial, sans-serif;

// Media Queries
@screen-xl-max: 1201px;
@screen-lg-max: 993px;
@screen-md-max: 769px;
@screen-sm-max: 481px;
@screen-xs-max: 321px;

// Mixins
.drop-down {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}