// About page styles

.about {
	p {
		//text-align: center;
	}

	.about-section {
		font-size: 16px;
		display: inline-block;
		width: 50%;
		vertical-align: top;

		&:nth-of-type(2n+1) {
			padding-right: 10px;
		}

		&:nth-of-type(2n) {
			padding-left: 10px;
		}
	}

	.intro-image {
		float: right;
    margin: 0 0 30px 40px;
	}
}

@media only screen and (max-width: @screen-md-max) {
	.about {
		.content {
			width: 92%;
		}

		.about-section {
			width: 100%;

			&:nth-of-type(2n+1), &:nth-of-type(2n) {
				padding: 0;
			}
		}
	}
}

@media only screen and (max-width: @screen-sm-max) {
	.about {
		.intro-image {
			float: none;
			display: block;
			margin: 0 auto 30px;
		}
	}
}
