<!DOCTYPE html>
<html ng-app="goWildApp" ng-controller="goWildCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="GoWild is Brisbane's coolest Jumping Castle and Party Hire specialists. Check out our awesome range and get your party started!">
	<meta name="keywords" content="jumping castle, brisbane, slushie, popcorn, fairy floss, party">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>GoWild Brisbane Jumping Castle and Party Hire - {{stateName}}</title>
	<base href="/">

	<!-- build:css css/lib.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css css/app.css -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/.tmp/styles.css">
	<!-- endinject -->
	<!-- endbuild -->

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#ec3042">
	<link rel="shortcut icon" href="/images/favicon/favicon.ico">
	<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<script>
		// jshint ignore: start
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-104331855-1', 'auto');
	  // jshint ignore: end
	</script>
</head>
<body>

	<gowild-spinner ng-show="sending"></gowild-spinner>

	<div id="wrapper" autoscroll="true" ng-class="{ 'loading': sending }">
		<gowild-header></gowild-header>

		<content ui-view></content>

		<gowild-footer></gowild-footer>
	</div>
<!-- build:js js/lib.js -->
<!-- bower:js -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/app.js -->
<!-- inject:js -->

<script src="/src/client/app/app.module.js"></script>

<script src="/src/client/app/gowild-analytics/gowild-analytics.js"></script>

<script src="/src/client/app/gowild-contact/gowild-contact.js"></script>

<script src="/src/client/app/gowild-core/gowild-core.js"></script>

<script src="/src/client/app/gowild-hire/gowild-hire.js"></script>

<script src="/src/client/app/gowild-contact/validation/validation.js"></script>

<script src="/src/client/app/gowild-contact/mailService/mailService.js"></script>

<script src="/src/client/app/gowild-core/gowild-contactButton/gowild-contactButton.js"></script>

<script src="/src/client/app/gowild-core/gowild-footer/gowild-footer.js"></script>

<script src="/src/client/app/gowild-core/gowild-header/gowild-header.js"></script>

<script src="/src/client/app/gowild-core/gowild-home/gowild-home.js"></script>

<script src="/src/client/app/gowild-core/gowild-spinner/gowild-spinner.js"></script>

<script src="/src/client/app/gowild-core/_services/gowild-general.js"></script>

<script src="/src/client/app/gowild-core/_services/gowild-scopeShare.js"></script>

<script src="/src/client/app/gowild-hire/gowild-castles/gowild-castles.js"></script>

<script src="/src/client/app/gowild-hire/gowild-flavours/gowild-flavours.js"></script>

<script src="/src/client/app/gowild-hire/book-now/book-now.js"></script>

<script src="/src/client/app/gowild-hire/gowild-popcorn/gowild-popcorn.js"></script>

<script src="/src/client/app/gowild-hire/gowild-productGrid/gowild-productGrid.js"></script>

<script src="/src/client/app/gowild-hire/gowild-productList/gowild-productList.js"></script>

<script src="/src/client/app/gowild-hire/gowild-slushie/gowild-slushie.js"></script>

<script src="/src/client/app/gowild-hire/productFactory/productFactory.js"></script>

<!-- endinject -->

<!-- inject:templates:js -->

<!-- endinject -->
<!-- endbuild -->
</body>
</html>