<div class="gowild-flavours">

  <div class="flavours">
    <h3 ng-click="toggleKidsFlavours()">{{openKidsFlavours ? 'Hide Kids Flavours' : 'Show Kids Flavours'}}</h3>
    <div ng-class="openKidsFlavours ? 'open' : 'closed'">
      <div class="span6 list" ng-repeat="lists in kidsFlavours">
        <ul>
          <li ng-repeat="item in lists" ng-bind-html="trustAsHtml(item)" vertical-slider></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="flavours cocktails">
    <h3 ng-click="toggleFlavours()">{{openFlavours ? 'Hide Cocktails / Mocktails' : 'Show Cocktails / Mocktails'}}</h3>
    <div ng-class="openFlavours ? 'open' : 'closed'">
      <div class="span6 list" ng-repeat="lists in flavours">
        <ul>
          <li ng-repeat="item in lists" ng-bind-html="trustAsHtml(item)" vertical-slider></li>
        </ul>
      </div>
    </div>
  </div>

</div>